.container {
  display: flex;
  height: 306px;
  width: 306px;
  background-color: gray;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
  margin-top: 22em;
  text-align: center;
}

.board {
  display: grid;
  grid-gap: 3px;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 100px 100px 100px;
  cursor: pointer;
}

.board div {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: white;
  font-size: 60pt;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: "Lucida Grande";
}

.board div:hover {
  background-color: rgba(245, 245, 245, 0.733);
  transition: 0.3s;
}

.buttons {
  display: flex;
  justify-content: center;
}

.buttons button {
  margin-right: 1rem;
  margin-left: 1rem;
  padding-bottom: 0.2em;
  background-color:rgb(176, 247, 223);
  border-radius: 10px;
  height: 30px;
  width: 100px;
  cursor: pointer;
}

.buttons button:hover {
  background-color:aqua;
  transition: 1s;
}

.display-box {
  display: grid;
  width: 30rem;
  height: 6.5rem;
  justify-content: center;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: "Trebuchet MS";
  font-size: 30px;
  margin: auto;
}

.display-box div {
  margin: auto;
}

.display-box span {
  color: red;
  font-weight:bolder;
}

